<!DOCTYPE html>
<html lang="en" xmlns:transition="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О компании</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" type="text/css"/>
</head>

<body>

<section id="header">
    <a href="main.html" style="text-decoration: none; font-size: 24px; font-weight: 600; color: #1a153c">GadgetHab</a>

    <div>
        <ul id="navbar">
            <li><a href="main.html">Главная</a></li>
            <li><a href="shop.html">Магазин</a></li>
            <li><a class="active" href="about.html">О компании</a></li>
            <li><a  href="contact.html">Контакты</a></li>
            <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>

    <div id="mobile">
        <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<section id="page-header" style="height: 40vh; width: 100%; background-size: cover;  ">
    <div class="anim_back">
        <h2>О нашей компании</h2>
        <p>С нами веселей</p>
    </div>
    <div class="anim_back">
        <img src="/img/end_kolledj.svg" alt="">
    </div>
</section>



<section id="about-head" class="section-p1">
    <img src="/img/seminar_animate.svg" alt="" />
    <div>
        <h2>Кто мы такие?</h2>
        <p>Сайт разрабатывался студентом 4-го курса группы П50-4-19 Абраменко Никитой</p>
        <abbr title="">Разработка программного комплекса по организации продажи электроники</abbr>
        <br><br>
        <marquee bgcolor="#ada7c9" loop="-1" scrollamount="5" width="100%">(на примере ФГБОУ ВО «Российский экономический университет им. Г.В. Плеханова»)</marquee>
    </div>
</section>

<section id="about-app" class="section-p1">
    <h1>Скачайте наше <a href="#">Приложение</a></h1>
    <div  class="video">
        <video autoplay muted loop src=""></video>
    </div>
</section>


<script src="/js/main/script.js"></script>

</body>

</html>