<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta charset="viewport" content="width=device-">
  <title>Авторизация</title>
  <link rel="stylesheet" href="/css/main.css"/>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="/css/authorization.css"  />
  <link href="https://fonts.googleapis.com/css?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" type="text/css"/>

</head>
<body>

<section id="header">
  <a href="main.html" style="text-decoration: none; font-size: 24px; font-weight: 600; color: #1a153c">GadgetHab</a>

  <div>
    <ul id="navbar">
      <li><a href="main.html">Главная</a></li>
      <li><a href="shop.html">Магазин</a></li>
      <li><a href="about.html">О компании</a></li>
      <li><a href="contact.html">Контакты</a></li>
      <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
      <a href="#" id="close"><i class="far fa-times"></i></a>
    </ul>
  </div>

  <div id="mobile">
    <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>
</section>

<div class="container">
  <div class="img">
    <img src="/img/login_animate.svg"/>
  </div>
  <div class="login-container">
    <form action="#">
      <h2>Авторизация</h2>
      <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
        <div>
          <input class="input" type="email" placeholder="Почта">
        </div>
      </div>
      <div class="input-div two">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div>
          <input class="input" type="password" placeholder="Пароль">
        </div>
      </div>
      <div class="dop">
        <div><a href="registration.html"><strong>Зарегистрироваться</strong></a></div>
        <div><a href="#">Забыл пароль?</a></div>
      </div>

      <input type="submit" class="btn" value="Войти"/>
    </form>
  </div>
</div>
</body>
</html>
