<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="viewport" content="width=device-">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="/css/authorization.css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" type="text/css"/>

</head>
<body>

<section id="header">
    <a href="main.html" style="text-decoration: none; font-size: 24px; font-weight: 600; color: #1a153c">GadgetHab</a>

    <div>
        <ul id="navbar">
            <li><a href="main.html">Главная</a></li>
            <li><a href="shop.html">Магазин</a></li>
            <li><a href="about.html">О компании</a></li>
            <li><a href="contact.html">Контакты</a></li>
            <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>

    <div id="mobile">
        <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<div class="container">
    <div class="img">
        <img src="/img/login_animate.svg"/>
    </div>
    <div class="login-container">
        <form action="#">
            <h2>Авторизация</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <input id="email_signin" class="input" type="email" placeholder="Почта">
                </div>
            </div>
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <input id="pass_signin" class="input" type="password" placeholder="Пароль">
                </div>
            </div>
            <div class="dop">
                <div><a href="registration.html"><strong>Зарегистрироваться</strong></a></div>
                <div><a href="#">Забыл пароль?</a></div>
            </div>
            <input id="SingIn" type="button" class="btn" value="Войти"/>
        </form>
    </div>
</div>


<script type="module">
    import {initializeApp} from "https://www.gstatic.com/firebasejs/9.21.0/firebase-app.js";
    import {
        getAuth,
        createUserWithEmailAndPassword,
        signInWithEmailAndPassword,
        onAuthStateChanged
    } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-auth.js";


    const firebaseConfig = {
        apiKey: "AIzaSyAaS3xROolYg3L52gzlpGB5sNh767PKeqg",
        authDomain: "mediamarkt-87e16.firebaseapp.com",
        databaseURL: "https://mediamarkt-87e16-default-rtdb.firebaseio.com",
        projectId: "mediamarkt-87e16",
        storageBucket: "mediamarkt-87e16.appspot.com",
        messagingSenderId: "1030181747159",
        appId: "1:1030181747159:web:263fd23d6bfd07b60bf392",
        measurementId: "G-BLP34HE0HP"
    };

    // Инициализация бд
    const app = initializeApp(firebaseConfig);
    import {getDatabase, ref, get, set, child, update, remove}
        from "https://www.gstatic.com/firebasejs/9.21.0/firebase-database.js";

    const database = getDatabase();
    const auth = getAuth();

    var SingIn = document.getElementById("SingIn");

    SingIn.addEventListener('click', (e) => {

        var email_signin = document.getElementById('email_signin').value;
        var password_signin = document.getElementById('pass_signin').value;
        signInWithEmailAndPassword(auth, email_signin, password_signin)
            .then((userCredential) => {
                const user = userCredential.user;

                const dt = new Date();
                update(ref(database, 'Пользователи/' + user.uid + "/singIn/"), {
                    last_login: dt
                })
                sessionStorage.setItem('user', user.uid)
                console.log(user.uid);
                alert('Успешный вход!');
            })
            .catch((error) => {
                const errorCode = error.code;
                const errorMessage = error.message;

                alert('errorMessage');
            })
        setTimeout(function () {
            window.location.href = 'main.html';
        }, 4 * 1000);
    });

</script>

<script type="module">
    import {initializeApp} from "https://www.gstatic.com/firebasejs/9.21.0/firebase-app.js";
    import {
        getAuth,
        createUserWithEmailAndPassword,
        signInWithEmailAndPassword,
        onAuthStateChanged,
        signOut
    } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-auth.js";


    const firebaseConfig = {
        apiKey: "AIzaSyAaS3xROolYg3L52gzlpGB5sNh767PKeqg",
        authDomain: "mediamarkt-87e16.firebaseapp.com",
        databaseURL: "https://mediamarkt-87e16-default-rtdb.firebaseio.com",
        projectId: "mediamarkt-87e16",
        storageBucket: "mediamarkt-87e16.appspot.com",
        messagingSenderId: "1030181747159",
        appId: "1:1030181747159:web:263fd23d6bfd07b60bf392",
        measurementId: "G-BLP34HE0HP"
    };

    // Инициализация бд
    const app = initializeApp(firebaseConfig);
    import {getDatabase, ref, get, set, child, update, remove}
        from "https://www.gstatic.com/firebasejs/9.21.0/firebase-database.js";


    var auth = getAuth();
    var useurid = auth.email;
    console.log(useurid, auth);


     signOut(auth).then(() => {
            sessionStorage.setItem('user', "");
        })



</script>
</body>
</html>
