<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
    <link rel="stylesheet" href="/css/main.css"  />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" type="text/css"/>
</head>

<body>

<section id="header">
    <a href="#" style="text-decoration: none; font-size: 24px; font-weight: 600; color: #1a153c">GadgetHab</a>

    <div>
        <ul id="navbar">
            <li><a href="main.html">Главная</a> </li>
            <li><a href="shop.html">Магазин</a> </li>
            <li><a class="active" href="blog.html">Блог</a> </li>
            <li><a href="about.html">О нас</a> </li>
            <li><a href="contact.html">Контакты</a> </li>
            <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>

    <div id="mobile">
        <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<section id="hero" style=" background-image: url(/img/mainback2.png); height: 90vh; width: 100%; background-size: cover; background-position: top 25% right 0; padding: 0 80px; ">
    <h4>Специальное предложение</h4>
    <h2>Супер скидки</h2>
    <h1>На все продукты</h1>
    <p>До 75%</p>
    <button>Купить сейчас</button>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box" >
        <img src="/img/categories/vr.png" style="width: 90px; height: 90px" alt=""/>
        <h6>Шлемы VR</h6>
    </div>
    <div class="fe-box" >
        <img src="/img/categories/gamepad.png" style="width: 90px; height: 90px" alt=""/>
        <h6>Консоли</h6>
    </div>
    <div class="fe-box" >
        <img src="/img/categories/headphones.png" style="width: 90px; height: 90px" alt=""/>
        <h6>Наушники</h6>
    </div>
    <div class="fe-box" >
        <img src="/img/categories/microphone.png" style="width: 90px; height: 90px" alt=""/>
        <h6>Микрофоны</h6>
    </div>
    <div class="fe-box" >
        <img src="/img/categories/pc.png" style="width: 90px; height: 90px" alt=""/>
        <h6>Комплектующие</h6>
    </div>
    <div class="fe-box" >
        <img src="/img/categories/smartphone.png" style="width: 90px; height: 90px" alt=""/>
        <h6>Смартфоны</h6>
    </div>
    <div class="fe-box" >
        <img src="/img/categories/game.png" style="width: 90px; height: 90px" alt=""/>
        <h6>Приложения и игры</h6>
    </div>
    <div class="fe-box" >
        <img src="/img/categories/laptop.png" style="width: 90px; height: 90px" alt=""/>
        <h6>Ноутбуки</h6>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Рекомендуемые товары</h2>
    <p>Летние распродажи</p>
    <div class="pro-container">
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </div>
</section>

<section id="banner" class="section-m1" style="background-image: url(/img/banner3.png)">
    <h4>Крутые товары</h4>
    <h2>Скидки <span>до 70%</span> - на все консоли и игры к ним</h2>
    <button class="normal">Узнать больше</button>
</section>

<section id="product2" class="section-p1">
    <h2>Новые поступления</h2>
    <p>Скоро в продаже</p>
    <div class="pro-container">
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg"  alt="">
            <div class="des">
                <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>118999 ₽</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <a href="#" class="logo" style="text-decoration: none; font-size: 24px; font-weight: 600; color: #1a153c">GadgetHab</a>
        <h4>Контакты</h4>
        <p><strong>Адрес:</strong> г.Москва ул. Нежинская 7</p>
        <p><strong>Телефон:</strong> +7-977-377-34-22</p>
        <p><strong>График:</strong> 10:00 - 17:00, Пон - Пят</p>
        <div class="follow">
            <h4>Подписывайтесь</h4>
            <div class="icon">
                <i class="fab fa-github"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Категории</h4>
        <a href="#">Шлемы VR</a>
        <a href="#">Консоли</a>
        <a href="#">Наушники</a>
        <a href="#">Микрофоны</a>
        <a href="#">Комплектующие</a>
        <a href="#">Смартфоны</a>
        <a href="#">Приложения и игры</a>
        <a href="#">Ноутбуки</a>
    </div>

    <div class="col">
        <h4>Мой аккаунт</h4>
        <a href="#">Войти</a>
        <a href="#">Корзина</a>
        <a href="#">Мои покупки</a>
        <a href="#">Помощь</a>
    </div>

    <div class="col install">
        <h4>Установить приложение</h4>
        <p>Скачайте прямо с сайта</p>
        <div class="row">
            <img src="/img/download/google_play.png" style="width: 250px; height: 190px" alt=""/>
        </div>
    </div>

    <div class="copyright">
        <p>© 2023, ABRN</p>
    </div>
</footer>

<script src="/js/main/script.js"></script>
</body>

</html>