<!DOCTYPE html>
<html lang="en" xmlns:transition="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" type="text/css"/>
</head>

<body>

<section id="header">
    <a href="main.html" style="text-decoration: none; font-size: 24px; font-weight: 600; color: #1a153c">GadgetHab</a>

    <div>
        <ul id="navbar">
            <li><a href="main.html">Главная</a></li>
            <li><a href="shop.html">Магазин</a></li>
            <li><a href="about.html">О компании</a></li>
            <li><a class="active" href="contact.html">Контакты</a></li>
            <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>

    <div id="mobile">
        <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<section id="page-header" style="height: 40vh; width: 100%; background-size: cover;  ">
    <div class="anim_back">
        <h2>Свяжитесь с нами</h2>
        <p>Мы поможем вам</p>
    </div>
    <div class="anim_back">
        <img src="/img/education_animate.svg" alt="">
    </div>
</section>


<section id="contact-details" class="section-p1">
<div class="details">
    <h2>Посетите нас в прекрасном магазине или созвонитесь с нами сегодня</h2>
    <h3>Главный офис</h3>
    <div>
        <li>
            <i class="fal fa-map"></i>
            <p>г. Москва ул. Нежинская 7</p>
        </li>
        <li>
            <i class="fal fa-envelope"></i>
            <p>isip_n.yu.abramenko@mpt.ru</p>
        </li>
        <li>
            <i class="fal fa-phone-alt"></i>
            <p>+79773773422</p>
        </li>
        <li>
            <i class="fal fa-clock"></i>
            <p>Пон-Пят: 10:00 - 17:00</p>
        </li>
    </div>
</div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.668654405646!2d37.47504798592125!3d55.712131078141546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54c223d358637%3A0x401084ade5db3867!2z0J3QtdC20LjQvdGB0LrQsNGPINGD0LsuLCA3LCDQnNC-0YHQutCy0LAsIDExOTUwMQ!5e0!3m2!1sru!2sru!4v1683571135516!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <a href="#" class="logo" style="text-decoration: none; font-size: 24px; font-weight: 600; color: #1a153c">GadgetHab</a>
        <h4>Контакты</h4>
        <p><strong>Адрес:</strong> г.Москва ул. Нежинская 7</p>
        <p><strong>Телефон:</strong> +7-977-377-34-22</p>
        <p><strong>График:</strong> 10:00 - 17:00, Пон - Пят</p>
        <div class="follow">
            <h4>Подписывайтесь</h4>
            <div class="icon">
                <a href="https://github.com/MG61">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Категории</h4>
        <a href="vr.html">Шлемы VR</a>
        <a href="console.html">Консоли</a>
        <a href="headphones.html">Наушники</a>
        <a href="microphone.html">Микрофоны</a>
        <a href="pc.html">Комплектующие</a>
        <a href="smartphones.html">Смартфоны</a>
        <a href="games.html">Приложения и игры</a>
        <a href="laptop.html">Ноутбуки</a>
    </div>

    <div class="col">
        <h4>Мой аккаунт</h4>
        <a href="authorization.html">Авторизоваться</a>
        <a href="cart.html">Корзина</a>
        <a href="contact.html">Помощь</a>
    </div>

    <div class="col install">
        <h4>Установить приложение</h4>
        <p>Скачайте прямо с сайта</p>
        <p>или с</p>
        <div onclick="window.location.href = 'about.html'" class="row">
            <img src="/img/download/google_play.png" style="width: 173px; height: 56px" alt=""/>
        </div>
    </div>

    <div class="copyright">
        <p>© 2023, ABRN</p>
    </div>
</footer>


<script src="/js/main/script.js"></script>

</body>

</html>