<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" type="text/css"/>
</head>

<body>

<section id="header">
    <a href="main.html" style="text-decoration: none; font-size: 24px; font-weight: 600; color: #1a153c">GadgetHab</a>

    <div>
        <ul id="navbar">
            <li><a href="main.html">Главная</a></li>
            <li><a class="active" href="shop.html">Магазин</a></li>
            <li><a href="about.html">О компании</a></li>
            <li><a href="contact.html">Контакты</a></li>
            <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>

    <div id="mobile">
        <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<section id="page-header" style="height: 40vh; width: 100%; background-size: cover;">
    <div class="anim_back">
        <h2>#Консоли</h2>
        <p>Для приятной игры</p>
    </div>
    <div class="anim_back">
        <img src="/img/shop_animate.svg" alt="">
    </div>
</section>

<section id="product1" class="section-p1">
    <div id="Recommendation" class="pro-container">
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <a href="#" class="logo" style="text-decoration: none; font-size: 24px; font-weight: 600; color: #1a153c">GadgetHab</a>
        <h4>Контакты</h4>
        <p><strong>Адрес:</strong> г.Москва ул. Нежинская 7</p>
        <p><strong>Телефон:</strong> +7-977-377-34-22</p>
        <p><strong>График:</strong> 10:00 - 17:00, Пон - Пят</p>
        <div class="follow">
            <h4>Подписывайтесь</h4>
            <div class="icon">
                <a href="https://github.com/MG61">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Категории</h4>
        <a href="vr.html">Шлемы VR</a>
        <a href="console.html">Консоли</a>
        <a href="headphones.html">Наушники</a>
        <a href="microphone.html">Микрофоны</a>
        <a href="pc.html">Комплектующие</a>
        <a href="smartphones.html">Смартфоны</a>
        <a href="games.html">Приложения и игры</a>
        <a href="laptop.html">Ноутбуки</a>
    </div>

    <div class="col">
        <h4>Мой аккаунт</h4>
        <a href="authorization.html">Авторизоваться</a>
        <a href="cart.html">Корзина</a>
        <a href="contact.html">Помощь</a>
    </div>

    <div class="col install">
        <h4>Установить приложение</h4>
        <p>Скачайте прямо с сайта</p>
        <p>или с</p>
        <div onclick="window.location.href = 'about.html'" class="row">
            <img src="/img/download/google_play.png" style="width: 173px; height: 56px" alt=""/>
        </div>
    </div>

    <div class="copyright">
        <p>© 2023, ABRN</p>
    </div>
</footer>





<script type="module">
    import {initializeApp} from "https://www.gstatic.com/firebasejs/9.21.0/firebase-app.js";

    const firebaseConfig = {
        apiKey: "AIzaSyAaS3xROolYg3L52gzlpGB5sNh767PKeqg",
        authDomain: "mediamarkt-87e16.firebaseapp.com",
        databaseURL: "https://mediamarkt-87e16-default-rtdb.firebaseio.com",
        projectId: "mediamarkt-87e16",
        storageBucket: "mediamarkt-87e16.appspot.com",
        messagingSenderId: "1030181747159",
        appId: "1:1030181747159:web:263fd23d6bfd07b60bf392",
        measurementId: "G-BLP34HE0HP"
    };

    // Инициализация бд
    const app = initializeApp(firebaseConfig);
    import {getDatabase, ref, get, set, child, update, remove}
        from "https://www.gstatic.com/firebasejs/9.21.0/firebase-database.js";

    var db = getDatabase();

    const dbref = ref(db);



    var categories;
    let ab = 0;
    get(child(dbref, "Headphones/")).then((snapshot) => {
        snapshot.forEach(function (getALLLLLData) {
            var data = getALLLLLData.val();
            var namea = getALLLLLData.key;

            var image = data["image"];
            var name = data["name"];
            var price = data["price"];

            const tovar = [
                {
                    image: image,
                    name: name,
                    price: price,
                }
            ]

            categories = [...new Set(tovar.map((item) => {
                return item
            }))]

            document.getElementById("Recommendation").innerHTML += categories.map((item) => {
                var {image, name, price} = item;

                // var content = document.getElementById('Recommendation').innerHTML;
                // console.log(content);
                return (
                    `
<div id="prod" class='pro' >
<a href="sproduct.html" onclick="sessionStorage.setItem('id', 'Headphones/' + ${namea})">
    <img src=${image} alt=''/>
    <div class='des'>
        <h5 >${name}</h5>
        <h4>${price}</h4>
    </div>
    </a>
    </div>`
                )
            }).join('')
        });
    });



</script>

<script src="/js/main/script.js"></script>

</body>

</html>