<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/css/main.css"  />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" type="text/css"/>
</head>

<body>

    <section id="header">
        <a href="#" style="text-decoration: none; font-size: 24px; font-weight: 600; color: #1a153c">GadgetHab</a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="main.html">Главная</a> </li>
                <li><a href="shop.html">Магазин</a> </li>
                <li><a href="blog.html">Блог</a> </li>
                <li><a href="about.html">О нас</a> </li>
                <li><a href="contact.html">Контакты</a> </li>
                <li><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="hero" style=" background-image: url(/img/mainback2.png); height: 90vh; width: 100%; background-size: cover; background-position: top 25% right 0; padding: 0 80px; display: ">
        <h4>Специальное предложение</h4>
        <h2>Супер скидки</h2>
        <h1>На все продукты</h1>
        <p>До 75%</p>
        <button>Купить сейчас</button>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box" >
            <img src="/img/categories/vr.png" style="width: 90px; height: 90px" alt=""/>
            <h6>Шлемы VR</h6>
        </div>
        <div class="fe-box" >
            <img src="/img/categories/gamepad.png" style="width: 90px; height: 90px" alt=""/>
            <h6>Консоли</h6>
        </div>
        <div class="fe-box" >
            <img src="/img/categories/headphones.png" style="width: 90px; height: 90px" alt=""/>
            <h6>Наушники</h6>
        </div>
        <div class="fe-box" >
            <img src="/img/categories/microphone.png" style="width: 90px; height: 90px" alt=""/>
            <h6>Микрофоны</h6>
        </div>
        <div class="fe-box" >
            <img src="/img/categories/pc.png" style="width: 90px; height: 90px" alt=""/>
            <h6>Комплектующие</h6>
        </div>
        <div class="fe-box" >
            <img src="/img/categories/smartphone.png" style="width: 90px; height: 90px" alt=""/>
            <h6>Смартфоны</h6>
        </div>
        <div class="fe-box" >
            <img src="/img/categories/game.png" style="width: 90px; height: 90px" alt=""/>
            <h6>Приложения и игры</h6>
        </div>
        <div class="fe-box" >
            <img src="/img/categories/laptop.png" style="width: 90px; height: 90px" alt=""/>
            <h6>Ноутбуки</h6>
        </div>

    </section>

    <section id="product" class="section-p1">
        <h2>Рекомендуемые товары</h2>
        <p>Летние распродажи</p>
        <div class="pro-container">
            <div class="pro">
                <img src="https://mvideo-img.servicecdn.ru/Big/30064939bb.jpg" style="height: 250px; width: 100px" alt="">
                <div class="des">
                    <h5>Смартфон Apple iPhone 14 Pro Max 128GB</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>118999 ₽</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart"></i></a>
            </div>
        </div>
    </section>

    <script src="/js/main/script.js"></script>
</body>

</html>