<!DOCTYPE html>
<html lang="en" xmlns:transition="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" type="text/css"/>
</head>

<body>

<section id="header">
    <a href="main.html" style="text-decoration: none; font-size: 24px; font-weight: 600; color: #1a153c">GadgetHab</a>

    <div>
        <ul id="navbar">
            <li><a href="main.html">Главная</a></li>
            <li><a href="shop.html">Магазин</a></li>
            <li><a href="about.html">О компании</a></li>
            <li><a href="contact.html">Контакты</a></li>
            <li id="lg-bag"><a class="active" href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>

    <div id="mobile">
        <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<section id="page-header" style="height: 40vh; width: 100%; background-size: cover;  ">
    <div class="anim_back">
        <h2>Корзина товаров</h2>
        <p>Оплата покупок</p>
    </div>
    <div class="anim_back">
        <img src="/img/payment.svg" alt="">
    </div>
</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
        <tr>
            <td>Удалить</td>
            <td>Изображение</td>
            <td>Товар</td>
            <td>Цена</td>
            <td>Количество</td>
            <td>Всего</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#"><i class="far fa-times-circle"></i></a></td>
            <td><img src="https://img.mvideo.ru/Big/40078740bb.jpg" alt=""/></td>
            <td>Консоль Microsoft Xbox Series X 1TB</td>
            <td>49999</td>
            <td><input type="number" value="1"></td>
            <td>49999</td>
        </tr>
        <tr>
            <td><a href="#"><i class="far fa-times-circle"></i></a></td>
            <td><img src="https://img.mvideo.ru/Big/40078740bb.jpg" alt=""/></td>
            <td>Консоль Microsoft Xbox Series X 1TB</td>
            <td>49999</td>
            <td><input type="number" value="1"></td>
            <td>49999</td>
        </tr>
        <tr>
            <td><a href="#"><i class="far fa-times-circle"></i></a></td>
            <td><img src="https://img.mvideo.ru/Big/40078740bb.jpg" alt=""/></td>
            <td>Консоль Microsoft Xbox Series X 1TB</td>
            <td>49999</td>
            <td><input type="number" value="1"></td>
            <td>49999</td>
        </tr>
        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div id="coupon">
        <h3>Применить бонусную карту</h3>
        <div>
            <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX">
            <button class="normal">Применить</button>
        </div>
    </div>

    <div id="subtotal">
        <h3>Итог:</h3>
        <table>
            <tr>
                <td>Всего:</td>
                <td>149997</td>
            </tr>
            <tr>
                <td>Доставка</td>
                <td>Бесплатно</td>
            </tr>
            <tr>
                <td><strong>Сумма:</strong></td>
                <td><strong>149997</strong></td>
            </tr>
        </table>
        <button class="normal">Перейти к оплате</button>
    </div>
</section>


<script src="/js/main/script.js"></script>

</body>

</html>